/*==========================================================================
  Typography
==========================================================================*/

body {
  @include lato;
  font-size: $font-size-base;
  color: $text-color-base;
  -webkit-font-smoothing: antialiased;
}