$font-size-base: 16;

$theme-color: #c0a064;

$body-bg-color: #fff;

$text-color-base: #6c6a68;
$text-color-dark: #2c2a28;
$text-color-light: #fff;

$z-index-max: 9000;

$fb-color: #4f689e;
$tw-color: #74c7d5;
