/*==========================================================================
  contacts-section
==========================================================================*/

.contacts-section__title.page-section__title {
  margin-bottom: em(23);
}

.contacts-section__feedback {
  @include span(4);
  @include push(4);
  margin-bottom: em(55);
}

.contacts-section__socials {
  @include span(4);
  @include push(4);
  text-align: center;
}