/*==========================================================================
  feedback
==========================================================================*/

.feedback__textarea {
  height: em(180);
}

.feedback__group {
  margin-top: rem(-1);
}

.feedback__controls {
  margin-top: em(16);
}