/*==========================================================================
  main-menu
==========================================================================*/

$mobile-menu-bg: rgba($cover-color, .95);
$mobile-menu-text-color-active: #fff;
$mobile-menu-item-bg-color-active: $theme-color;

.main-menu__toggle {
  display: none;

  @media only screen and (max-width: 992px) {
    position: relative;
    z-index: 9999;
    @include inline-block;
  }
}

.main-menu__nav {
  @media only screen and (max-width: 992px) {
    display: none;
  }
}

.main-menu__list {
  @include list-unstyled;
}

.main-menu__item {
  @include inline-block;
  margin-right: em(27);
  @include lato(bold);
}

.main-menu__item_active {
  .main-menu__link {
    &:link,
    &:visited {
      color: $text-color-dark;
    }
  }
}

.main-menu__link {
  line-height: em(38);
  text-decoration: none;
  transition: .25s;

  &:link,
  &:visited {
    color: $text-color-base;
  }

  &:hover,
  &:active {
    color: $text-color-dark;
  }
}

/*==========================================================================
  main-menu_open
==========================================================================*/

.main-menu_open {

  .main-menu__nav {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0;
    text-align: center;
    background-color: $mobile-menu-bg;
    overflow: auto;
    /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
    -webkit-overflow-scrolling: touch;

    &::before {
      content: '';
      @include inline-block(middle);
      height: 100%;
    }
  }

  .main-menu__list {
    @include inline-block(middle);
    width: 100%;
    animation: fadeInUp .35s;
  }

  .main-menu__item {
    display: block;
    margin-right: 0;
    border-radius: 0;
    font-size: rem(16);
  }

  .main-menu__item_active {
    .main-menu__link {
      background-color: $mobile-menu-item-bg-color-active;
      &:link,
      &:visited {
        color: $mobile-menu-text-color-active;
      }
    }
  }

  .main-menu__link {
    display: block;
    padding: rem(20);
    text-transform: uppercase;

    &:hover,
    &:active {
      color: $mobile-menu-text-color-active;
      background-color: $mobile-menu-item-bg-color-active;
    }
  }
}