/*==========================================================================
  page-header
==========================================================================*/

.page-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $z-index-max;
  width: 100%;
  padding: em(22)
}

.page-header__logo {
  @include span(2);
  padding-top: em(7);
  @include push(5);
  text-align: center;

  .logo__link {
    line-height: em(48);
  }
}

.page-header__main-menu {
  @include pull(7);
}

.page-header__socials {
  @include span(5);
  padding-right: 0;
  margin-right: em(-80);
  text-align: right;
}