/*==========================================================================
  page-section
==========================================================================*/

.page-section {
  position: relative;
  padding: em(119) 0;
}

.page-section_cover {

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $cover-color;
  }
}