extend ../_template-en

block title
  | Freebie


block content
  include ../sections/hero-section
  include ../sections/recent-works-section
  include ../sections/collections-section



block script
  script(src="assets/js/app.js")