.hero-section.page-section.page-section_cover
  .container
    .hero-section__content
      h1.hero-section__title
        | Free portfolio template
      p.hero-section__subtitle
        | for photographers
      a.btn(href="#") Discover